name: Release

permissions:
  contents: write

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          persist-credentials: false

      - name: Decrypt data
        env:
          SECRET_PASSPHRASE: ${{ secrets.SECRET_PASSPHRASE }}
        run: gpg --quiet --batch --yes --decrypt --passphrase="$SECRET_PASSPHRASE" --output data.zip data.zip.gpg

      - name: Unzip data
        run: |
          unzip data.zip
          cp data/WHITE\ ALBUM2/ck-gal.pak script.pak
          cp data/WHITE\ ALBUM2/fon.pak fnt.pak
          cp data/WHITE\ ALBUM2\ Special\ Contents/script_cn.pak script_special.pak

      - name: Build Docker Image
        run: docker build -t wa2translate .

      - name: Run Docker Command
        run: docker run -v $PWD:/wa2translate/myVolume wa2translate

      - name: Zip assets
        run: |
          mkdir wa2recode
          mkdir wa2recode/WHITE\ ALBUM2
          mkdir wa2recode/WHITE\ ALBUM2\ Special\ Contents
          cp fnt_refont.repacked.pak wa2recode/WHITE\ ALBUM2/fnt.pak
          cp script_translated.repacked.pak wa2recode/WHITE\ ALBUM2/script.pak
          cp fnt_refont.repacked.pak wa2recode/WHITE\ ALBUM2\ Special\ Contents/fnt.pak
          cp script_special_translated.repacked.pak wa2recode/WHITE\ ALBUM2\ Special\ Contents/script.pak
          zip -r wa2recode.zip wa2recode

      - name: Generate Release Version
        id: release_version
        env:
          BUILD_NUMBER: ${{github.run_number}}
        run: echo "version=$(date +'%Y%m%d.%H%M').$BUILD_NUMBER" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.release_version.outputs.version }}
          release_name: Release ${{ steps.release_version.outputs.version }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./wa2recode.zip
          asset_name: wa2recode.zip
          asset_content_type: application/zip
          
